.header__lang-link {
  font-size: 24px;
  line-height: 117%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width:767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;

  }
}