.cover__subtitle {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 360px;
    z-index: 2;
    margin: 32px 0 0 0;
}

.cover:hover {
    opacity: 1;
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        margin-top: 16px;
        width: 288px;
        font-size: 14px;
        line-height: 114%;
    }
}