.cover__subtitle{
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 360px;
    height: 66px;
    z-index: 2;
    margin: 32px 0 0 0;
}
@media screen and (max-width:767px)
{
    .cover__subtitle{
        margin: 16px 0 0 0;
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 114%;
        
 }
}

