.header {
  font-style: normal;
  color: #FFF;
  font-weight: 400;
  margin: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 16px;
  }
}