.place__paragraph {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 0 26px 0;
}

.place__paragraph:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        margin-top: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 32px 16px 25px;
    }
    .place__paragraph:nth-last-child(1) {
        margin: 32px 16px 0;
    }
}