.place__website_url-heading{
font-weight: 400;
font-size: 12px;
line-height: 170%;
letter-spacing: 2px;
color: #AAA;
margin: 0 0 12px 0;
text-decoration: none;
align-self: end;
}

@media screen and (max-width: 1023px)
{
.place__website_url-heading{
    line-height: 12px;
}
}