.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0 auto 64px;
    max-width: 640px;
    max-height: 72px;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 120%;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 40px;
    }
}