.cover {
    color: #FFF;
    font-style: normal;
    margin: 92px auto;
    position: relative;
}

.cover:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin-top: 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        width: 100%;
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
        margin-bottom: 64px;
    }
}