.cover__overlay{
    display: flex;
    text-decoration: none;
}
.cover__overlay:after{
    background-color: #2A2C2F;
    opacity: 0.3; 
    content: '';
    max-width: 1184px;
    height: 740px;
    position: absolute;
    top: 0;
    left:0;
} 