.cover__title{
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    cursor: pointer;
    text-decoration: none;
    width: 560px;
    height: 152px;
    z-index: 2;
    text-align: center;
    margin: 0;
}
@media screen and (max-width:767px)
{
    .cover__title{
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 109%;
 }
}
