.cover__title{
    color: #FFF;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    cursor: pointer;
    text-decoration: none;
    width: 560px;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
}
.cover:hover {
    opacity: 1;
}
@media screen and (max-width:767px)
{
    .cover__title{
        width: 250px;
        font-size: 32px;
        line-height: 35px;
 }
}
