.place {
    color: #FFF;
    font-style: normal;
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0 0 80px 0;
    padding: 0;
    max-width: 984px;
}

.place:nth-last-child(1) {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
        width: 984px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        margin-bottom: 73px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 0;
    }
}