.footer {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto 24px;
    padding: 0 48px;
    background-color: #2A2C2F;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 0;
        margin-left: 24px;
        margin-right: 24px;
    }
}
@media screen and (max-width: 767px) {
    .footer {
        margin-right: 118px;
        margin-left: 16px;
        flex-direction: column;
    }
}