.footer{
color: #FFF;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
margin: 0 48px 24px;
background-color:#2A2C2F;
align-items: baseline;
display: flex;
justify-content: space-between;
}
@media screen and (max-width: 1023px)
{
    .footer{
        margin: 0 24px 24px;
 }
}
@media screen and (max-width: 767px)
{
    .footer{
        margin: 0 118px 24px 16px;
        flex-direction: column;
 }
}